body {
    background-color: black;
    margin: 0;
}

.box {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color:cyan;
}